
a {
  color: white;
}

a:hover {
  color: blue;
}

p {
  color: #222;
}

h1,h2 {
  color: #ff00ff;
}

.header {
  color: white;
}

.menu {
}

.menu li:hover {
  background: yellow;
}

.heading .title {
  color: #ff4455;
}

.heading .title:hover {
  color: #2454ad;
}

.footer { color: white; }

