/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
   Based on work by Eric Meyer:
   * meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
   
-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6,
a, img, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   margin: 0; padding: 0; border: 0;
   font-weight: inherit; font-style: inherit;
   font-family: inherit;
   /* vertical-align: baseline; */
}

body {
   line-height: 1.5;
   background: #fff;
   font-size: 16px;
}

table {
   border-collapse: separate;
   border-spacing: 0;
}

caption, th, td {
   text-align: left;
}

q:before, q:after { 
   content:'';
}

p {
  text-align: justify;
  padding: 0.2em 0;
}

pre {
  font-family: monospace;
  font-size: 0.9em;

}

blockquote {
  font-style: italic;
}

body { margin: 0; padding: 0; }

a { text-decoration: none; }

h1, h2 { padding: 30px 10px; }

/*
h1:first-child { padding-top: 5px; }
*/

/* -----------------------------------------------------------------

  This is where you set your desired font size. The line-heights 
  and vertical margins are automatically calculated from this. 
  The percentage is of 16px (0.75 * 16px = 12px). 

----------------------------------------------------------------- */

body {
    font-size: 80%;
    font-family: sans-serif, Arial; 
}

h1,h2,h3,h4,h5,h6 { 
    font-family: sans-serif, Arial; 
    font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

h1 { font-size: 1.9em; line-height: 1;    margin: 0.50em 0; }
h2 { font-size: 1.5em;                    margin: 0.75em 0; }
h3 { font-size: 1.3em; line-height: 1;    margin: 1.00em 0; }
h4 { font-size: 1.2em; line-height: 1.25; margin: 1.25em 0; }
h5 { font-size: 1.0em; font-weight: bold; margin: 0 0 1.5em 0; }
h6 { font-size: 1.0em; font-weight: bold; }

p {
  line-height: 1.6em; 
}

