body {
  margin: 0;
  padding: 0;
}

a { 
  text-decoration: none;
}

h1, h2 {
  padding-top: 30px;
}

/*
h1:first-child {
  padding-top: 5px;
}
*/

/* menu */

#menu {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

/* main */

#main {
  border: 1px solid pink;
}

.content {
  padding: 0 20px;
}

/* header */

#header {
  height: 240px;
  position: relative;
}

#header .title {
  padding-top: 10px;
  text-align: left;
}

/* footer */

#footer {
  padding: 20px;
}

.page { margin: 0 auto; width: 700px; }

