/* <<<<< TAG STYLES >>>>> */

pre {
  border: 1px solid #ccc;
  padding: 10px 10px; color: #211; background: #eee;
  font-family: courier, monospace; font-size: 13px; font-weight: bold;
}

a {
  color: tan;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #555;
  font-size: 14px;
}

h1 {
  color: #404;
  padding-left: 40px;
  -moz-border-radius: 10px; border: 0px solid #ccc;
  background: url(../images/icon.jpg) no-repeat;
  font-family: times; font-size: 3em;
}

h2 {

}

/* ((((( CLASSES ))))) */

.page { margin: 0 auto; width: 736px; }

.content { padding: 0; }

.heading { font-size: 2em; }

.heading .title { font-size: 1.0em; font-weight: bold; color: #ff4455; }
.heading .title:hover { color: #2454ad; }

.heading .date  { font-size: 0.7em; }

.ad {
 padding: 0; margin: 45px 0 20px 0;
 border: 2px solid #ccc;
 width: 728px; height: 90px;
}

/* [[[[[ ID STYLES ]]]]] */

/* menu */

#menu {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  font-variant: small-caps;
  color: tan;
}

#menu a { color: #644; padding: 0 10px; }
#menu a:hover { color: pink; text-decoration: none; }

/* header */

#header {
  height: 210px;
  position: relative;
  border-top: 0px solid #999;
  border-bottom: 0px solid #999;
  color: #644;
  background: #562600;
  background: url(../images/stripes.png) center;
  font-variant: small-caps;
}

#header .title {
  color: #eee;
  padding-top: 42px;
  text-align: left;
  font-family: times;
  font-size: 90px; text-align: center; font-weight: bold;
  line-height: 42px; letter-spacing: 15px; 
}

/* footer */

#footer {
  padding: 10px 0 20px 0;
  font-size: 8px;
  font-weight: bold; 
  background: #ffbbd2;
  background: url(../images/stripes.png) center;
  color: white;
}


#main {
  background: white;
  color #ff3600;
}

.strawberry { color: #ffbbd2; }
.vanilla    { color: #eeeeee; }
.chocolate  { color: #533b02; }



