/* CLASS STYLES */

.heading { font-size: 2em; }

.heading .title {
  font-size: 1.3em;
  font-weight: bold; 
  color: #ff4455;
}

.heading .title:hover {
  color: #2454ad;
}

.heading .date  { font-size: 0.7em; }
